In [1]:
def diccionario(x,y):
    return dict(zip(x,y))

nombre=['diego','raul','jose','luis']
edad=[15,42,27,73]
diccionario(nombre,edad)

{'diego': 15, 'raul': 42, 'jose': 27, 'luis': 73}

In [5]:
a=27
if a<=27:
    def op(x,y):
        return x/y
else:
    def op(x,y):
        return x*y
op(12,3)

4.0

In [8]:
def t(x):
    if x>2:
        return x*2
    return x+5
t(2)

7

In [15]:
def v(v):
    return v[3],v[0]

v(['pique','aguero','casillas','ibai'])

('ibai', 'pique')

In [51]:
def valores(a,b=None,c=None):
    if a is not None:
        print(f"{a} es el valor de a")
    if b is not None:
        print(f"{b} es el valor de b")
    if c is not None:
        print(f"{c} es el valor de c")
valores('camisa','armario','coche')

camisa es el valor de a
armario es el valor de b
coche es el valor de c

In [27]:
def potencia(g,h):
    return g**h
print(potencia(2,5))
print(potencia(3,4))

32
81

In [35]:
def valor(x):
    if x>0:
        return x*x
valor(a)
x=3
a=7
valor(a)
valor(x)

9

In [53]:
def jugadores(*s):
    return s
jugadores('zeben','nico','edu','dani','viti','cris','servan')

('zeben', 'nico', 'edu', 'dani', 'viti', 'cris', 'servan')

In [90]:
Ga={'Holanda':9,'Senegal':6,'Ecuador':3,'Catar':0}
Gb={'Inglaterra':7,'USA':4,'Irán':1,'Gales':5}
Gc={'Argentina':7,'Mexico':4,'Polonia':6,'Arabia Saudi':0}
Gd={'Francia':7,'Australia':3,'Dinamarca':7,'Tunez':0}
Ge={'España':7,'Alemania':5,'Japon':2,'Costa Rica':1}
Gf={'Belgica':5,'Canada':1,'Marruecos':5,'Croacia':2}
Gg={'Brasil':9,'Serbia':4,'Suiza':3,'Camerun':1}
Gf={'Portugal':7,'Uruguay':5,'Ghana':1,'Corea del sur':2}
      
def Mundial(Ga):
    nombre=input('introduce nombre')
    if Ga[nombre]>=5:
        return (f" {nombre} se clasifica con {Ga[nombre]} puntos")
    else:
        return (f" {nombre} no se clasifica con {Ga[nombre]} puntos")
    
Mundial(Ge)

introduce nombre Alemania

' Alemania se clasifica con 5 puntos'

In [126]:
def sumatorio(lista):
    for j in lista:
        if type(j) == int or float:
            return ('true')
sumatorio([1,2,3.4])

'true'

In [143]:
z={'a':2,'b':4,'c':6}
w={'d':1,'b':4,'f':5}
for (clave,valor) in z.items() and w.items():
    if z[clave] in z.items():
        if w[clave] in w.items():
            print('True')
    else:
        print('false')

KeyError: 'd'

In [108]:
a=[1,2,3.4,'a','b']
print(type(a[1]))

<class 'int'>

In [105]:
a=7
if type(a) == int:
    print(a*2)

14

In [151]:
lista=list(range(1,21))
print(lista)
print((lista[4::5]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[5, 10, 15, 20]

In [153]:
#invertir un string
def invertir(s):
    return s[-1::-1]
print(invertir('adios'))

soida

In [6]:
lista=list(range(1,21))
[ i for i in lista if i%2==0 ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
lista=list(range(1,30))
p=[]
for i in lista:
    if i%2!=0:
        p.append(i)
print(p)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [79]:
def suma_numeros(lista):
    x=[]
    for t in lista:
        if type(t) == int:
            x.append(t)
        elif type(t) == float:
            x.append(t)
    print(sum(tuple(x)))

suma_numeros([15,'d',20,10,'c'])

45

In [250]:
h={'a':3,'b':7,'c':9,'f':6}
u={'c':5,'f':6,'d':4,'a':3}
for i in list(h.items()):
    if i in list(u.items()):
        print('True')
        break
else:
    print('False')

True

In [243]:
dicc_a={'a':3,'b':6,'c':7}
dicc_b={'t':4,'a':4,'d':1}
for key in dicc_a:
    if key in dicc_b:
        if a[key] == b[key]:
            print('True')
            break
else:
    print('False')

True

Ejercicio 4. (2 puntos) Escribe una función que reciba como parámetros dos strings y compruebe si estos strings cumplen las siguientes propiedades: (1) ambos strings tienen los mismos caracteres y, además, (2) estos caracteres aparecen el mismo número de veces en ambos strings (es decir, si el primer string tiene 3 'a', por ejemplo, el segundo string también tendrá 3 'a', aunque éstas pueden aparecer en posiciones diferentes). Para resolver el problema, no puedes importar ningún módulo de Python (como, por ejemplo, collections) ni usar funciones de ordenación (como sort).

Ejemplos para los que la función devolverá False:

'hola' y 'adios'.
'java' y 'javascript'.
'maria' y 'mariam'.
'aab' y 'abb'.

Ejemplos para los que la función devolverá True:

'python' y 'python'
'listen' y 'silent'
'aabbcc' y 'abcabc'

In [272]:
def frase(o,p):
    if len(o) == len(p):
        print('True')
        
frase('listen','silent')

True

Ejercicio 5. (2 puntos) En "./actividades/res/ciudades.csv" tenéis un fichero CSV con información acerca de un conjunto de ciudades: nombre de la ciudad, país al que pertenece y número de habitantes. Escribir un programa que acceda al fichero y obtenga:

Una lista con los nombres de las ciudades españolas que tienen más de 300.000 habitantes.
El número total de ciudades francesas.
El programa debe mostrar la lista y el número por pantalla.

In [425]:
def ciudades(hoja,habitantes):
    with open(hoja) as fichero:
        reader=csv.reader(fichero,delimiter='|')
        ciudades_españa=[]
        ciudades_francia=[]
        for pais in reader:
            if 'Espanya' in pais and int(pais[2]) > habitantes:
                ciudades_españa.append(pais[0])
            elif 'Francia' in pais:
                ciudades_francia.append(pais[0])
        return ciudades_españa, len(ciudades_francia)
               
ciudades('actividades/res/ciudades.csv',300000)

(['Valencia', 'Bilbao', 'Madrid', 'Sevilla', 'Barcelona'], 3)

In [278]:
import csv

fichero=open('actividades/res/ciudades.csv')
print(fichero.read())
fichero.close()

Ciudad|Pais|Poblacion
Segovia|Espanya|51683
Nairobi|Kenia|4397000
Valencia|Espanya|791413
Berlin|Alemania|3645000
Marsella|Francia|861635
Bilbao|Espanya|345821
Lyon|Francia|513275
Teruel|Espanya|35691
Milan|Italia|1352000
Oporto|Portugal|214349
Madrid|Espanya|3223000
Sevilla|Espanya|688711
Albacete|Espanya|173050
Oslo|Noruega|634293
Medellin|Colombia|2569000
Nantes|Francia|303382
Gotemburgo|Suecia|579281
Barcelona|Espanya|1620000
Pekin|China|21540000
Montevideo|Uruguay|1381000
Zamora|Espanya|61827

In [ ]:
with open ('actividades/res/ciudades.csv') as fichero: