
<img src="img/viu_logo.png" width="200">

## 04EPPY - Ciencia de Datos e Inteligencia Artificial
### Pandas

![logo](img/python_logo.png)

*Òscar Garibo*

# Sumario
- Series y DataFrame
- Indexacion, slicing
- Grabar y cargar a archivo
- MovieLens dataset

# Pandas
- Librería (de facto estándar) para estructurar datos tabulares
- Multivariable (string, int, float, bool...)
- Dos clases:
  - Series (1 dimensión)
  - DataFrames (2+ dimensiones)

In [ ]:
!pip install pandas

In [1]:
# librería externa
import pandas as pd
from pandas import Series, DataFrame

# Series
- Datos unidimensionales (similar a NumPy)
- Elementos + índices modificables

In [2]:
countries = pd.Series(['Spain','Andorra','Gibraltar','Portugal','France'])
print(countries)

0        Spain
1      Andorra
2    Gibraltar
3     Portugal
4       France
dtype: object

In [3]:
countries[4]

'France'

In [6]:
# especificando el índice
countries = pd.Series (['Spain','Andorra','Gibraltar','Portugal','France'],
                       index=range(10,60,10))
countries.name = 'Countries in Europe'
countries.index.name = 'INDICE'
print(countries)

INDICE
10        Spain
20      Andorra
30    Gibraltar
40     Portugal
50       France
Name: Countries in Europe, dtype: object

In [5]:
countries[50]

'France'

In [7]:
# los índices pueden ser de más tipos
football_cities = pd.Series(['Barcelona','Madrid','Valencia','Sevilla'], 
                            index=['a','b','c','d'])
print(football_cities)

a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
dtype: object

In [8]:
football_cities['c']

'Valencia'

In [9]:
# Atributos
football_cities.name = 'Ciudades con dos equipos en primera' # nombrar la Serie
football_cities.index.name = 'Id' # Describir los índices
print(football_cities)

Id
a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
Name: Ciudades con dos equipos en primera, dtype: object

In [10]:
# acceso similar a NumPy o listas, según posición
print(football_cities[2])

# acceso a través del índice semántico
print(football_cities['c'])

print(football_cities['c'] == football_cities[2])

Valencia
Valencia
True

# Tratamiento similar a ndarray

In [11]:
# múltiple recolección de elementos
print(football_cities[ ['a','c'] ])
print(football_cities[ [0, 2] ])

Id
a    Barcelona
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object

In [12]:
# slicing
print(football_cities[:'c']) # incluye ambos extremos con el indice semantico
print(football_cities[:2])

Id
a    Barcelona
b       Madrid
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
b       Madrid
Name: Ciudades con dos equipos en primera, dtype: object

In [13]:
#cast a list
lista = list(football_cities[:'c'])
print(lista)

['Barcelona', 'Madrid', 'Valencia']

In [14]:
type(football_cities[:'c'])

pandas.core.series.Series

In [15]:
# uso de masks para seleccionar
fibonacci = pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21])
mask = fibonacci > 5
print(mask)
print(fibonacci[mask])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
dtype: bool
6     8
7    13
8    21
dtype: int64

In [16]:
sum(fibonacci)

54

In [17]:
# aplicar funciones de numpy a la serie
import numpy as np

np.sum(fibonacci)

54

In [20]:
pd.notnull(distances)

0     True
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [19]:
#filtrado con np.where
distances = pd.Series([12.1,np.nan,12.8,76.9,6.1,7.2])
valid_distances = np.where(pd.notnull(distances),distances,0)
print(valid_distances)

[12.1  0.  12.8 76.9  6.1  7.2]

### Iteración

In [21]:
fibonacci = pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21])

In [22]:
fibonacci

0     0
1     1
2     1
3     2
4     3
5     5
6     8
7    13
8    21
dtype: int64

In [23]:
for key in fibonacci_dict:
    print('Value: ' + fibonacci_dict[key])

NameError: name 'fibonacci_dict' is not defined

In [24]:
# iterar sobre elementos
for value in fibonacci:
    print('Value: ' + str(value))

# iterar sobre indices
for index in fibonacci.index:
    print('Index: ' + str(index))

Value: 0
Value: 1
Value: 1
Value: 2
Value: 3
Value: 5
Value: 8
Value: 13
Value: 21
Index: 0
Index: 1
Index: 2
Index: 3
Index: 4
Index: 5
Index: 6
Index: 7
Index: 8

In [25]:
# iterar sobre elementos e índices al mismo tiempo
for index, value in fibonacci.items():  #.iteritems()
    print('Index: ' + str(index) + '  Value: ' + str(value))

Index: 0  Value: 0
Index: 1  Value: 1
Index: 2  Value: 1
Index: 3  Value: 2
Index: 4  Value: 3
Index: 5  Value: 5
Index: 6  Value: 8
Index: 7  Value: 13
Index: 8  Value: 21

In [26]:
for index, value in zip(fibonacci.index, fibonacci):
    print('Index: ' + str(index) + '  Value: ' + str(value))

Index: 0  Value: 0
Index: 1  Value: 1
Index: 2  Value: 1
Index: 3  Value: 2
Index: 4  Value: 3
Index: 5  Value: 5
Index: 6  Value: 8
Index: 7  Value: 13
Index: 8  Value: 21

## Series como diccionarios
- Interpretar el índice como clave
- Acepta operaciones para diccionarios

In [27]:
# crear una serie a partir de un diccionario
serie = pd.Series( { 'Carlos' : 100, 'Marcos': 98} )
print(serie.index)
print(serie.values)
print(serie)

Index(['Carlos', 'Marcos'], dtype='object')
[100  98]
Carlos    100
Marcos     98
dtype: int64

In [28]:
# añade y elimina elementos a través de índices
serie['Pedro'] = 12
del serie['Marcos']
print(serie)

Carlos    100
Pedro      12
dtype: int64

In [29]:
_dict = { 'Carlos' : 100, 'Marcos': 98}

In [30]:
'Oscar' in _dict

False

In [ ]:
_dict['Oscar'] = 2

In [31]:
# query una serie
if 'Carlos' in serie:
    serie['Carlos'] = 2
    
print(serie)

Carlos     2
Pedro     12
dtype: int64

## Operaciones entre series

In [35]:
# suma de dos series
# suma de valores con el mismo índice (NaN si no aparece en ambas)
serie1 = pd.Series([10,20,30,40,50,60,70],index=range(7))
serie2 = pd.Series([1,2,3],index=range(3) )
print(serie1 + serie2)

0    11.0
1    22.0
2    33.0
3     NaN
4     NaN
5     NaN
6     NaN
dtype: float64

In [33]:
serie3 = pd.Series( {0: 10, 1:20, 2:30, 3:40})
serie3

0    10
1    20
2    30
3    40
dtype: int64

In [34]:
# resta de series (similar a la suma)
print(serie1 - serie3)

0    0.0
1    0.0
2    0.0
3    0.0
4    NaN
5    NaN
6    NaN
dtype: float64

In [ ]:
# operaciones de pre-filtrado
result = serie1 + serie3
result[pd.isnull(result)] = 0 # mask con isnull()
print(result)

In [ ]:
result = serie1 + serie2
mask = pd.isnull(result)
result[mask] = 0
print(result)

In [ ]:
lista = [1,2,3,4,5,6,7]

serie1 + lista

###  Diferencias entre Pandas Series y diccionario
* Diccionario, es una estructura que relaciona las claves y los valores de forma arbitraria.
* Series, estructura de forma estricta listas de valores con listas de índice asignado en la posición.
* Series, es más eficiente para ciertas operaciones que los dicionarios.
* En las Series los valores de entrada pueden ser listas o Numpy arrays.
* En Series los índices semánticos pueden ser integers o caracteres, en los valores igual.
* Series se podría entender entre una lista y un diccionario Python, pero es de una dimensión.

# DataFrame
- Datos tabulares (filas x columnas)
- Columnas: Series con índices compartidos

In [ ]:
# crear un DataFrame a partir de un diccionario de elementos de la misma longitud
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"], 
                "Edad" : [34,29,12] }
# las claves identifican columnas
frame = pd.DataFrame(diccionario)
display(frame)

In [ ]:
frame.head(1)

In [ ]:
# crear un DataFrame a partir de un diccionario de elementos de la misma longitud
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"], 
                "Edad" : [34,29,12] }
# las claves identifican columnas
frame = pd.DataFrame(diccionario, index = ['a', 'b', 'c'])
display(frame)

In [ ]:
# además de 'index', el parámetro 'columns' especifica el número y orden de las columnas
frame = pd.DataFrame(diccionario, columns = ['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])
display(frame)

In [ ]:
# acceso a columnas
nombres = frame['Nombre']
display(nombres)
type(nombres)

In [ ]:
nombres = list(frame['Nombre'])
type(nombres)

In [ ]:
frame.Nombre

In [ ]:
#siempre que el nombre de la columna lo permita (espacios, ...)
nombres = frame.Nombre
display(nombres)
type(nombres)

In [ ]:
# acceso al primer nombre del DataFrame frame??
print(frame['Nombre'][0])
print(frame.Nombre[0])
print(nombres[0])

In [ ]:
frame["Raza"] = "Qué más da?"

In [ ]:
frame["Raza"]

### Formas de crear un DataFrame
* Con una Serie de pandas
* Lista de diccionarios
* Dicionario de Series de Pandas
* Con un array de Numpy de dos dimensiones
* Con array estructurado de Numpy

## Modificar DataFrames

In [ ]:
# añadir columnas
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion', 'Dirección'])
frame['Dirección'] = 'Desconocida'
display(frame)

In [ ]:
lista_direcciones = ['Rue 13 del Percebe, 13, 1, 3', 'Calla Maravilla, 2,3', 'Avenida de los Rombos, 12, 1']

In [ ]:
frame['Dirección'] = lista_direcciones

frame

In [ ]:
len(frame)

In [ ]:
# añadir fila (requiere todos los valores)
user_2 = ['Alemana','Klaus',39, np.nan, 'Desconocida']
frame.loc[len(frame)] = user_2
display(frame)

In [ ]:
frame.loc?

In [ ]:
frame.drop(2)

In [ ]:
frame

In [ ]:
# eliminar fila (similar a Series)
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])

#frame = frame.drop(2) # por qué necesitamos reasignar el frame?
display(frame)

frame.drop(1, inplace = True)
display(frame)

In [ ]:
#eliminar columna
del frame['Profesion']
display(frame)

In [ ]:
# acceder a la traspuesta (como una matriz)
display(frame.T)

## Iteración

In [ ]:
# iteración sobre el DataFrame?
frame = pd.DataFrame(diccionario, columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])

for a in frame:
    print(a) # qué es 'a'?
    print(type(a))

In [ ]:
frame

In [ ]:
# iteracion sobre filas
for value in frame.values:
    print(value)
    print(type(value))

In [ ]:
# iterar sobre filas y luego sobre cada valor?
for values in frame.values:
    print('\n')
    for value in values: 
        print(value)

In [ ]:
d_and_d_characters = {'Name' : ['bundenth','theorin','barlok'], 'Strength' : [10,12,19], 'Wisdom' : [20,13,6]}
character_data = pd.DataFrame(d_and_d_characters)

In [ ]:
print('Original data')
print(character_data)

In [ ]:
vitality_data = pd.Series([11,10,14])

In [ ]:
character_data['vitality'] = vitality_data

In [ ]:
character_data

In [ ]:
character_data['alive'] = True

In [ ]:
character_data['beuty'] = 0

In [ ]:
potencia = character_data['Strength']

In [ ]:
type(potencia)

In [2]:
import numpy as np

In [ ]:
powerfull = np.where(potencia > 15, 'Fuerte', 'Debilucho')

In [ ]:
powerfull

In [ ]:
character_data['Class'] = powerfull

In [ ]:
character_data

In [ ]:
character_data[character_data['Wisdom'] > 8]

## Indexación y slicing con DataFrames

In [ ]:
d1 = {'ciudad':'Valencia', 'temperatura':10, 'o2':1}
d2 = {'ciudad':'Barcelona', 'temperatura':8}
d3 = {'ciudad':'Valencia', 'temperatura':9}
d4 = {'ciudad':'Madrid', 'temperatura':10, 'humedad':80}
d5 = {'ciudad':'Sevilla', 'temperatura':15, 'humedad':50, 'co2':6}
d6 = {'ciudad':'Valencia', 'temperatura':10, 'humedad':90, 'co2':10}
ls_data = [d1, d2, d3, d4, d5, d6]  # lista de diccionarios
df_data = pd.DataFrame(ls_data, index = list('abcdef')) 
display(df_data)

In [ ]:
df_data.loc['a']

In [ ]:
df_data.iloc[3]

In [ ]:
# Acceso a un valor concreto por indice posicional [row, col]
#print(df_data.iloc[0])
x = df_data.iloc[0]
# # Acceso a todos los valores hasta un índice por enteros
#display(df_data.iloc[:3,:4])

# # Acceso a datos de manera explícita, indice semantico (se incluyen)
display(df_data.loc['d', 'temperatura'])
display(df_data.loc[:'c', :'o2'])
display(df_data.loc[:'c', 'temperatura':'o2'])

display(df_data.loc[:, ['ciudad','temperatura']])

In [ ]:
for i in range(len(df_data)):
    x = df_data.iloc[i]
    if x['ciudad'] == 'Valencia':
        print('Bingo!')

In [ ]:
x

In [ ]:
x['ciudad']

In [ ]:
for i in range(len(df_data)):
    x = df_data.iloc[i]
    print(x['ciudad'])

In [ ]:
# indexación con nombre de columna (por columnas)
print(df_data['ciudad']) # --> Series

display(df_data[['ciudad', 'o2']])

In [ ]:
# indexación con índice posicional (no permitido!). Esto busca columna.
df_data[0]

In [ ]:
df_data['ciudad']['a':'c']

In [ ]:
# indexar por posición con 'iloc'
print(df_data.iloc[0]) # --> Series de la primera fila (qué marca los índices)

In [ ]:
# indexar semántico con 'loc'
df_data.loc['a'] # --> Series de la fila con índice 'a'

In [ ]:
# indexar semántico con 'loc'
df_data.loc['a':'c'] # --> DataFrame de la fila con índice 'a'

In [ ]:
# si se modifica una porcion del dataframe se modifica el dataframe original (referencia)
serie = df_data.loc['a']
serie[2] = 3000

display(df_data)

print(serie)

# copiar data frame
df_2 = df_data#.copy()

In [ ]:
df_data.loc['a']['o2']

In [ ]:
df_data.loc['a']['o2'] = 3000

In [ ]:
df_data.index

In [ ]:
df_data.at['a','o2'] = 3000

In [ ]:
for _fila in df_data.index:
    x = df_data.loc[_fila]
    if x['ciudad'] == 'Valencia':
        df_data.at[_fila, 'humedad'] = 1000000

In [ ]:
df_data

In [ ]:
df_2 = df_data.copy()

serie = df_2.loc['a']

serie[2] = 3000

In [ ]:
df_data

In [ ]:
# ambos aceptan 'axis' como argumento
#df_data.iloc(axis=1)[0] # --> todos los valores asignados a la primera columna 'ciudad'
df_data.loc(axis=1)['ciudad'] # --> preferible el equivalente frame['ciudad']

In [ ]:
df_data['ciudad']

In [ ]:
# qué problema puede tener este fragmento?
frame = pd.DataFrame({"Name" : ['Carlos','Pedro'], "Age" : [34,22]}, index=[1,0])
display(frame)

In [ ]:
# por defecto, pandas interpreta índice posicional --> error en frames
# cuando hay posible ambigüedad, utilizar loc y iloc
print('Primera fila\n')
print(frame.iloc[0])
print('\nElemento con index 0\n')
print(frame.loc[1])

## Objeto Index de Pandas

In [ ]:
# Contrucción de índices
ind = pd.Index([2, 3, 5, 7, 11])
# recuperar datos
print(ind[3])
#print(ind[::2])

In [ ]:
# Son inmutables! No se modifican los datos. 
ind[3] = 8

In [ ]:
pd.Index([900 + 3j, 700 + 25j, 620 + 10j, 388 + 44j, 900])

## Slicing

In [ ]:
# slice por filas
d_and_d_characters = {'Name' : ['bundenth','theorin, hijo de alguien','barlok'], 'Strength' : [10,12,19], 'Wisdom' : [20,13,6]}
character_data = pd.DataFrame(d_and_d_characters, index=['a','b','c'])
display(character_data)
display(character_data[:-1])
display(character_data[1:2])

In [ ]:
# slicing para columnas
display(character_data[['Name','Strength']])

In [ ]:
#slicing con 'loc' e 'iloc'
display(character_data.iloc[1:])
display(character_data.loc[:'b'])

¿Cómo filtrar filas y columnas? Por ejemplo, para todos los personajes, obtener 'Name' y 'Strength'

In [ ]:
# usando 'loc' para hacer slicing
display(character_data.loc[:,'Name':'Strength'])

In [ ]:
# usando 'loc' para buscar específicamente filas y columnas
display(character_data.loc[ ['a','c'], ['Name','Wisdom'] ])

In [ ]:
# lo mismo con 'iloc'?
display(character_data.iloc[[0,2],[0,2]])
display(character_data.iloc[[0,-1],[0,-1]])

In [ ]:
# lista de los personajes con el atributo Strength > 11
display(character_data.loc[character_data['Strength'] > 11, ['Name', 'Strength']])

In [ ]:
# listar los personajes con Strength > 15 o Wisdom > 15
display(character_data.loc[(character_data['Strength'] > 15) | (character_data['Wisdom'] > 15)])

# Cargar y guardar datos en pandas

In [ ]:
character_data

In [ ]:
# Guardar a csv
import os
ruta = os.path.join("res" ,"o_d_d_characters.csv")
character_data.to_csv(ruta, sep=';') # sep por defecto: ','

In [ ]:
'res' + '/' + 'o_d_d_charcaters.csv'

In [ ]:
ruta

In [ ]:
loaded = pd.read_csv(ruta, sep=';')
display(loaded)

In [ ]:
loaded = pd.read_csv(ruta, sep=';', index_col = 0)
display(loaded)

In [ ]:
pd.read_csv?

#### otros argumentos to_csv()
- na_rep='string' --> representar valores NaN en el archivo csv

#### otros argumentos read_csv()
- na_values='string'

Pandas también ofrece funciones para leer/guardar a otros formatos estándares: JSON, HDF5 o Excel en su [API](https://pandas.pydata.org/pandas-docs/stable/reference/io.html)

# Ejemplo práctico en pandas
- [MovieLens dataset](https://grouplens.org/datasets/movielens/)
 - Reviews de películas
 - 1 millón de entradas
 - Datos demográficos de usuarios

In [3]:
import numpy as np
import pandas as pd
import zipfile # para descomprimir archivos zip
import urllib.request # para descargar de URL
import os

# descargar MovieLens dataset
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'  
ruta = os.path.join("res", "ml-1m.zip")
urllib.request.urlretrieve(url, ruta)

('res/ml-1m.zip', <http.client.HTTPMessage at 0x7f9296a97ca0>)

In [4]:
# descomprimiendo archivo zip
ruta_ext = os.path.join("res")
with zipfile.ZipFile(ruta, 'r') as zip: 
    print('Extracting all files...') 
    zip.extractall(ruta_ext) # destinación
    print('Done!') 
    
# take a look at readme y revisar formatos

Extracting all files...
Done!

In [5]:
ruta_users = os.path.join("res", "ml-1m", "users.dat")

users_dataset = pd.read_csv(ruta_users, sep='::', index_col=0, engine='python')
display(users_dataset)

      F  1.1  10  48067
1
2     M   56  16  70072
3     M   25  15  55117
4     M   45   7  02460
5     M   25  20  55455
6     F   50   9  55117
...  ..  ...  ..    ...
6036  F   25  15  32603
6037  F   45   1  76006
6038  F   56   1  14706
6039  F   45   0  01060
6040  M   25   6  11106

[6039 rows x 4 columns]

In [7]:
# Varios problemas
# sin cabecera! primer valor se ha perdido
# las columnas no tienen nombres
pd.read_csv?

In [8]:
# especificar nombres, cargar sin cabecera
users_dataset = pd.read_csv(ruta_users, index_col=0, sep='::',
    header=None, names=['UserID','Gender','Age','Occupation','Zip-code'], engine='python')
display(users_dataset)

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455
...       ...  ...         ...      ...
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

[6040 rows x 4 columns]

In [10]:
# samplear la tabla 
display(users_dataset.sample(15))

       Gender  Age  Occupation Zip-code
UserID
2639        F   25           6    80236
2723        F   25           9    28147
4756        M   56          16    55901
1144        M   25           7    94025
5879        M   35           7    02135
1992        M   18           4    85259
5650        F   35          12    91104
499         F   25           1    55108
2980        M   45           7    91766
1218        M   56          15    13207
3761        M   25          17    27613
368         M   25           0    90293
4788        M   35           7    85331
821         M   18           2    14456
25          M   18           4    01609

In [9]:
# samplear la cabeza
display(users_dataset.head())

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455

In [11]:
# samplear la cola
display(users_dataset.tail(4))

       Gender  Age  Occupation Zip-code
UserID
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

In [12]:
# tipos de datos sobre las columnas
users_dataset.dtypes

Gender        object
Age            int64
Occupation     int64
Zip-code      object
dtype: object

In [13]:
display(users_dataset[users_dataset['Zip-code'].str.len() > 5])

       Gender  Age  Occupation    Zip-code
UserID
161         M   45          16  98107-2117
233         F   45          20  37919-4204
293         M   56           1  55337-4056
458         M   50          16  55405-2546
506         M   25          16  55103-1006
...       ...  ...         ...         ...
5682        M   18           0  23455-4959
5904        F   45          12      954025
5925        F   25           0  90035-4444
5967        M   50          16  73069-5429
5985        F   18           4  78705-5221

[81 rows x 4 columns]

In [14]:
# información general sobre atributos numéricos
display(users_dataset.describe())

               Age   Occupation
count  6040.000000  6040.000000
mean     30.639238     8.146854
std      12.895962     6.329511
min       1.000000     0.000000
25%      25.000000     3.000000
50%      25.000000     7.000000
75%      35.000000    14.000000
max      56.000000    20.000000

In [15]:
users_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6040 entries, 1 to 6040
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      6040 non-null   object
 1   Age         6040 non-null   int64
 2   Occupation  6040 non-null   int64
 3   Zip-code    6040 non-null   object
dtypes: int64(2), object(2)
memory usage: 235.9+ KB

In [16]:
# incluir otros atributos (no todo tiene sentido)
display(users_dataset.describe(include='all'))

       Gender          Age   Occupation Zip-code
count    6040  6040.000000  6040.000000     6040
unique      2          NaN          NaN     3439
top         M          NaN          NaN    48104
freq     4331          NaN          NaN       19
mean      NaN    30.639238     8.146854      NaN
std       NaN    12.895962     6.329511      NaN
min       NaN     1.000000     0.000000      NaN
25%       NaN    25.000000     3.000000      NaN
50%       NaN    25.000000     7.000000      NaN
75%       NaN    35.000000    14.000000      NaN
max       NaN    56.000000    20.000000      NaN

In [17]:
users_dataset[users_dataset['Gender'] == 'F']

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
6           F   50           9    55117
10          F   35           1    95370
11          F   25           1    04093
16          F   35           0    20670
...       ...  ...         ...      ...
6035        F   25           1    78734
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060

[1709 rows x 4 columns]

In [18]:
# cuántos usuarios son mujeres (Gender='F')
len(users_dataset[users_dataset['Gender'] == 'F'])

# select count(*) from users_dataset where users_dataset.Gender = 'F'

1709

In [20]:
set(users_dataset['Gender'])

{'F', 'M'}

In [21]:
for _genero in list(set(users_dataset['Gender'])):
    print(f"Hay {len(users_dataset[users_dataset['Gender'] == _genero])} usuarios con género {_genero}")

Hay 1709 usuarios con género F
Hay 4331 usuarios con género M

In [22]:
# mostrar solo los menores de edad
under_age = users_dataset[users_dataset['Age'] < 18].copy()
print(len(under_age))
display(under_age.sample(10))

222

       Gender  Age  Occupation Zip-code
UserID
580         M    1          10    08534
719         M    1           0    75070
5768        F    1           7    20852
1187        F    1           0    90210
5844        F    1          10    02131
2418        F    1          10    06074
745         M    1          10    90004
4690        F    1          10    79605
4830        M    1          10    55317
2910        M    1          19    75602

# filtrar edad incorrecta (míninimo 18)
under_age.loc['Age'] = np.nan
display(under_age.head())

users_dataset[users_dataset['Age'] < 18] = under_age
display(users_dataset.head())

In [25]:
# Agrupar datos por atributos
display(users_dataset.groupby(by='Gender').describe())

           Age                                                    Occupation  \
         count       mean        std  min   25%   50%   75%   max      count
Gender
F       1709.0  30.859567  13.242564  1.0  25.0  25.0  45.0  56.0     1709.0
M       4331.0  30.552297  12.757110  1.0  25.0  25.0  35.0  56.0     4331.0


            mean       std  min  25%  50%   75%   max
Gender
F       6.599766  5.898450  0.0  1.0  4.0  10.0  20.0
M       8.757331  6.390126  0.0  4.0  7.0  14.0  20.0

In [ ]:
# Grabar la tabla modificada
# Cambiar el separador a ','
# Guardar NaN como 'null'
ruta_output = os.path.join('res', 'ml-1m', 'o_users_processed.dat')
users_dataset.to_csv(ruta_output, sep=',',na_rep='null')

In [ ]:
%pycat res/ml-1m/o_users_processed.dat

# Ejercicios
- Hacer un análisis general de los otros dos archivos CSV en ml-1m ('movies.dat' y 'ratings.dat')
- Analizando el dataset ratings.dat, ¿hay algún usuario que no tenga ninguna review? ¿Cuántos tienen menos de 30 reviews?

In [ ]:
ruta_ratings = os.path.join("res", "ml-1m", "ratings.dat")

ratings_dataset = pd.read_csv(ruta_ratings, sep='::', index_col=0, header=None, engine='python', names=['UserID', 'MovieID', 'Rating', 'Time'])
display(ratings_dataset)

In [ ]:
ratings_dataset.index

In [ ]:
len(set(list(ratings_dataset.index)))

In [ ]:
display(ratings_dataset[ratings_dataset.groupby(by='UserID')['Rating'] < 30])

In [ ]:
ratings_dataset[ratings_dataset.groupby('UserID').Rating.count() < 30]

In [ ]:
ratings_dataset.head(183)

In [ ]:
mask = ratings_dataset.groupby(by='UserID').Rating.count() < 30

In [ ]:
len(ratings_dataset[mask].groupby(by='UserID').count())

In [ ]:
url = 'https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv'

In [ ]:
ruta = os.path.join("res", "us_cities_states_counties.csv")

In [ ]:
urllib.request.urlretrieve(url, ruta)