
<img src="img/viu_logo.png" width="200">

## 04EPPY - Ciencia de Datos e Inteligencia Artificial
### +Pandas

![logo](img/python_logo.png)

*Òscar Garibo*

# Operaciones en pandas
- Búsqueda
- Ordenar
- Operaciones matemáticas entre objetos
- apply(lambda)
- Estadística descriptiva
- Ejemplo fuel efficiency

#### Búsqueda

In [2]:
import pandas as pd
import numpy as np

In [ ]:
np.random.randint?

In [3]:
rand_matrix = np.random.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
display(frame)

   A  B  C
0  1  5  0
1  1  5  2

In [4]:
# buscando columnas (DataFrame como dic, busca en claves)
'A' in frame

True

In [5]:
# buscando valores
display(frame.isin([3,2])) # --> mask de respuesta (valores que son 3 o 2)

       A      B      C
0  False  False  False
1  False  False   True

In [6]:
frame.isin([3,2]).values.sum()

1

In [7]:
# Contar el número de ocurrencias
print(frame.isin([4]).values.sum())
display(frame.isin([4])) #devuelve una mask con valores true si el elemento es 4
type(frame.isin([4]).values) # pandas es una capa alrededor de numpy

0

       A      B      C
0  False  False  False
1  False  False  False

numpy.ndarray

In [8]:
# Cuántos valores son >= 4
mask = frame >= 4
print(mask.values.sum())
display(mask)

2

       A     B      C
0  False  True  False
1  False  True  False

#### Ordenación

In [9]:
from random import shuffle

rand_matrix = np.random.randint(20,size=(5,4))

indices = list(range(5))
shuffle(indices) # mezcla indices

frame = pd.DataFrame(rand_matrix , columns=list('DACB'),index=indices)
display(frame)

    D   A   C   B
3   6   2  16  13
4  18   6   7   2
2  15   3  19  14
0   6  16   7   0
1   1   8  19   1

In [ ]:
indices

In [10]:
# ordenar por índice
display(frame.sort_index(ascending=True))
frame = frame.sort_index(ascending=True)
frame.sort_index(ascending=True, inplace=True)
display(frame)

    D   A   C   B
0   6  16   7   0
1   1   8  19   1
2  15   3  19  14
3   6   2  16  13
4  18   6   7   2

    D   A   C   B
0   6  16   7   0
1   1   8  19   1
2  15   3  19  14
3   6   2  16  13
4  18   6   7   2

In [11]:
frame

    D   A   C   B
0   6  16   7   0
1   1   8  19   1
2  15   3  19  14
3   6   2  16  13
4  18   6   7   2

In [12]:
#ordenar por columna
display(frame.sort_index(axis=1, ascending=True))

    A   B   C   D
0  16   0   7   6
1   8   1  19   1
2   3  14  19  15
3   2  13  16   6
4   6   2   7  18

In [13]:
# ordenar filas por valor en columna
display(frame.sort_values(by='A', ascending=False))
display(frame)

    D   A   C   B
0   6  16   7   0
1   1   8  19   1
4  18   6   7   2
2  15   3  19  14
3   6   2  16  13

    D   A   C   B
0   6  16   7   0
1   1   8  19   1
2  15   3  19  14
3   6   2  16  13
4  18   6   7   2

In [ ]:
# ordenar columnas por valor en fila
display(frame.sort_values(by=2, axis=1, ascending=False))

In [ ]:
# ordenar por valor en columna y guardar cambios
frame.sort_values(by='A', ascending=False, inplace=True)
display(frame)

#### Ranking
- Construir un ranking de valores

In [ ]:
frame.rank?

In [14]:
display(frame.rank(method='average'))

     D    A    C    B
0  2.5  5.0  1.5  1.0
1  1.0  4.0  4.5  2.0
2  4.0  2.0  4.5  5.0
3  2.5  1.0  3.0  4.0
4  5.0  3.0  1.5  3.0

In [ ]:
frame.sort_values(by='C', ascending=False)['C'].values

In [ ]:
# Imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
for x in frame.sort_values(by='C', ascending=False)['C'].values:
    print(x)

# Operaciones

Operaciones matemáticas entre objetos

In [15]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)
display(frameA)
display(frameB)

    0   1   2   3
0   9  65   5  92
1   7  14   3  54
2  72  33  49  75
3  13  64  81  71

    0   1   2   3
0  93  19  93  57
1  89  60  29   1
2  16  65  60  55
3  99  44  57  78

In [16]:
# a través de métodos u operadores
display(frameA + frameB == frameA.add(frameB))
display(frameA + frameB)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

     0    1    2    3
0  102   84   98  149
1   96   74   32   55
2   88   98  109  130
3  112  108  138  149

In [ ]:
display(frameB - frameA == frameB.sub(frameA))
display(frameB - frameA)

In [ ]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
display(frameA)
display(frameC)
display(frameA + frameC)

In [ ]:
# se puede especificar el valor por defecto con el argumento fill_value
display(frameA.sub(frameC,fill_value=0))

Operadores aritméticos solo válidos en elementos aceptables

In [ ]:
frameD = pd.DataFrame({0: ['a','b'],1:['d','f']})
display(frameD)
frameA - frameD

Operaciones entre Series y DataFrames

In [ ]:
rand_matrix = np.random.randint(10, size=(3, 4))
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(df)
display(type(df.iloc[0]))
# uso común, averiguar la diferencia entre una fila y el resto
display(df - df.iloc[0])
# # Por columnas cómo se restaría
display(df.sub(df['A'], axis=0))

pandas se basa en NumPy, np operadores binarios y unarios son aceptables 

| Tipo | Operación | Descripción |
|:---------|:-----|:-----|
| Unario | *abs* | Valor absoluto de cada elemento |
| | *sqrt* | Raíz cuadrada de cada elemento |
| | *exp* | e^x, siendo x cad elemento |
| | *log, log10, log2* | Logaritmos en distintas bases de cada elemento |
| | *sign* | Retorna el signo de cada elemento (-1 para negativo, 0 o 1 para positivo) |
| | *ceil* | Redondea cada elemento por arriba |
| | *floor* | Redondea cada elemento por abajo |
| | *isnan* | Retorna si cada elemento es Nan |
| | *cos, sin, tan* | Operaciones trigonométricas en cada elemento |
| | *arccos, arcsin, arctan* | Inversas de operaciones trigonométricas en cada elemento |
| Binario | *add* | Suma de dos arrays |
| | *substract* | Resta de dos arrays |
| | *multiply* | Multiplicación de dos arrays |
| | *divide* | División de dos arrays |
| | *maximum, minimum* | Retorna el valor máximo/mínimo de cada pareja de elementos |
| | *equal, not_equal* | Retorna la comparación (igual o no igual) de cada pareja de elementos |
| | *greater, greater_equal, less, less_equal* | Retorna la comparación (>, >=, <, <= respectivamente) de cada pareja de elementos |

Aplicación de funciones a medida con lambda

In [14]:
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min())) # diferencia por columna

   A  B  C  D
0  5  9  3  5
1  3  0  9  4
2  0  4  0  1

A    5
B    9
C    9
D    4
dtype: int32

In [13]:
import numpy as np

In [ ]:
# diferencia entre min y max por fila (no columna)
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min(), axis = 1)) # diferencia por fila

# Estadística descriptiva
- Análisis preliminar de los datos
- Para Series y DataFrame

| Operación | Descripción |
|:----------|:------------|
| count | Número de valores no NaN |
| describe | Conjunto de estadísticas sumarias|
| min, max | Valores mínimo y máximo |
| argmin, argmax | Índices posicionales del valor mínimo y máximo |
| idxmin, idxmax | Índices semánticos del valor mínimo y máximo |
| sum | Suma de los elementos |
| mean | Media de los elementos |
| median | Mediana de los elementos |
| mad | Desviación absoluta media del valor medio |
| var | Varianza de los elementos |
| std | Desviación estándar de los elementos |
| cumsum | Suma acumulada de los elementos |
| diff | Diferencia aritmética de los elementos |

In [3]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,34,11, 30], 
               "puntos" : [98,12,98,40], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
display(frame)
display(frame.describe(include='all')) # datos generales de elementos

   nombre  edad  puntos genero
0  Marisa    34      98      F
1   Laura    34      12      F
2  Manuel    11      98      M
3  Carlos    30      40      M

        nombre       edad     puntos genero
count        4   4.000000   4.000000      4
unique       4        NaN        NaN      2
top     Marisa        NaN        NaN      F
freq         1        NaN        NaN      2
mean       NaN  27.250000  62.000000    NaN
std        NaN  10.996211  43.112257    NaN
min        NaN  11.000000  12.000000    NaN
25%        NaN  25.250000  33.000000    NaN
50%        NaN  32.000000  69.000000    NaN
75%        NaN  34.000000  98.000000    NaN
max        NaN  34.000000  98.000000    NaN

In [2]:
import pandas as pd

In [4]:
print(type(frame['edad']))

<class 'pandas.core.series.Series'>

In [5]:
# operadores básicos
frame.sum()

nombre    MarisaLauraManuelCarlos
edad                          109
puntos                        248
genero                       FFMM
dtype: object

In [6]:
frame.mean()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7960\555050398.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  frame.mean()

edad      27.25
puntos    62.00
dtype: float64

In [7]:
display(frame)

   nombre  edad  puntos genero
0  Marisa    34      98      F
1   Laura    34      12      F
2  Manuel    11      98      M
3  Carlos    30      40      M

In [8]:
frame.cumsum()

                    nombre  edad  puntos genero
0                   Marisa    34      98      F
1              MarisaLaura    68     110     FF
2        MarisaLauraManuel    79     208    FFM
3  MarisaLauraManuelCarlos   109     248   FFMM

In [ ]:
frame.count()

In [ ]:
frame['edad'].std()

In [ ]:
frame['edad'].idxmax()

In [ ]:
frame['puntos'].idxmin()

In [ ]:
# frame con las filas con los valores maximos de una columna
print(frame['puntos'].max())
display(frame[frame['puntos'] == frame['puntos'].max()])

pandas incluye métodos para analizar correlaciones
- Relación matemática entre dos variables (-1 negativamente relacionadas, 1 positivamente relacionadas, 0 sin relación)
- obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos
- https://www.datascience.com/blog/introduction-to-correlation-learn-data-science-tutorials

## Agregaciones

In [9]:
display(frame)
display(frame.groupby('genero').count())

   nombre  edad  puntos genero
0  Marisa    34      98      F
1   Laura    34      12      F
2  Manuel    11      98      M
3  Carlos    30      40      M

        nombre  edad  puntos
genero
F            2     2       2
M            2     2       2

In [10]:
display(frame.groupby('genero').mean())

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7960\2899754616.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(frame.groupby('genero').mean())

        edad  puntos
genero
F       34.0    55.0
M       20.5    69.0

In [11]:
display(frame.groupby('genero').max())

        nombre  edad  puntos
genero
F       Marisa    34      98
M       Manuel    30      98

In [ ]:
# funciones de agregación de varias columnas para obtener distintos estadísticos
display(frame.groupby('genero')[['edad', 'puntos']].aggregate(['min', np.median, max]))

In [ ]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30

frame.groupby('genero').filter(media)

## Pivot Table
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
- https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

# Ejemplo Fuel efficiency
- https://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [ ]:
import pandas as pd
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?')

In [ ]:
mpg_data.columns

for _column in mpg_data.columns:
    if _column in ['desplazamiento', 'potencia', 'peso', 'aceleracion']:
        del mpg_data[_column]

In [ ]:
display(mpg_data.sample(5))

In [ ]:
display(mpg_data.describe(include='all'))

In [ ]:
mpg_data.info()

### Correlaciones entre valores

In [ ]:
mpg_data['mpg'].corr(mpg_data['peso']) # + mpg = - peso

In [ ]:
mpg_data['peso'].corr(mpg_data['aceleracion']) # + peso = - aceleracion

### Correlaciones entre todos los valores

In [ ]:
mpg_data.corr()

In [ ]:
#año y origen no parecen correlacionables
#eliminar columnas de la correlacion
corr_data = mpg_data.drop(['año','origen'],axis=1).corr()
display(corr_data)

In [ ]:
# representación gráfica matplotlib
import matplotlib.pyplot as plt

In [ ]:
# representación gráfica
corr_data.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)

In [ ]:
# correlación más negativa
mpg_data.drop(['año','origen'],axis=1).corr().idxmin()

In [ ]:
# correlación más positiva
mpg_data.drop(['año','origen'],axis=1).corr().idxmax()  #consigo misma....

In [ ]:
# tabla similar con las correlaciones más positivas (evitar parejas del mismo valor)
positive_corr = mpg_data.drop(['año','origen'],axis=1).corr()
np.fill_diagonal(positive_corr.values, 0)
# display(positive_corr)
positive_corr.idxmax()

In [ ]:
positive_corr.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)