
<img src="img/viu_logo.png" width="200">

## 04EPPY - Ciencia de Datos e Inteligencia Artificial
### Procesamiento de Datos

![logo](img/python_logo.png)

*Òscar Garibo*

# Sumario
- Trabajo con strings
- Combinando datasets
- Limpieza de datos
 - map, filter, reduce
 - filling missing values
 - valores duplicados
 - categorizacion de datos

In [4]:
import numpy as np
import pandas as pd

In [5]:
import pickle, os

In [6]:
import csv

In [ ]:
df = pd.DataFrame()
df.to_csv?

In [ ]:
a = 'Òscar'
b = 49
c = 190

print('La persona {} tienes {} años y mide {} centímetros'.format(a,b,c))

In [ ]:
print(f"La persona {a} tiene {b} años y mide {c} centímetros.")

In [ ]:
f = open("nombre_fichero.txt", "w")
f.write(f"La persona {a} tiene {b} años y mide {c} centímetros.\n")
f.close()

### Combinar varios datasets 
- En base a un elemento en común (índice)
- MovieLens 'UserId'

In [1]:
import zipfile as zp # para descomprimir archivos zip
import urllib.request # para descargar de URL
import os

# descargar MovieLens dataset
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'  
local_zip = os.path.join("res", "ml-1m.zip")
urllib.request.urlretrieve(url, local_zip)
# descomprimiendo archivo zip
with zp.ZipFile(local_zip, 'r') as zipp: 
    print('Extracting all files...') 
    zipp.extractall(os.path.join("res")) # destino
    print('Done!')

Extracting all files...
Done!

In [2]:
with open("res/ml-1m/users.dat") as f:
    _ratings = f.readlines()
_ratings[:2]

['1::F::1::10::48067\n', '2::M::56::16::70072\n']

In [7]:
root_path = os.path.join("res", "ml-1m" )

ratings_dataset = pd.read_csv(os.path.join(root_path, "ratings.dat"), sep='::',
                                index_col=0, engine='python',
                                names=['UserID','MovieID','Rating','Timestamp'])

users_dataset = pd.read_csv(os.path.join(root_path, "users.dat"),sep='::',
                              index_col=0, engine='python',
                              names=['UserID','Gender','Age','Occupation','Zip-code'])

In [8]:
users_dataset.sample(5)

       Gender  Age  Occupation Zip-code
UserID
5681        F   25           7    92122
1162        F   35           0    97213
2466        M   25          15    94303
5029        M   25           4    70115
896         M   18          15    94015

In [9]:
ratings_dataset.sample(5)

        MovieID  Rating  Timestamp
UserID
457         409       2  976392766
3546       2469       2  967029209
5046       2470       3  962506934
2858       1097       3  972504480
5          2058       1  978245740

### Uniendo datasets con 'join' y 'merge'
- merge() == join()
 - 'join' utiliza por defecto los índices para unir
- Utilizando el parámetro 'on'
 - Si las columnas difieren, 'left_on' y 'right_on'
 
 https://i.stack.imgur.com/hMKKt.jpg

In [10]:
len(users_dataset)

6040

In [11]:
len(ratings_dataset)

1000209

In [12]:
# combinando users y ratings, ¿Cómo?
combined_dataset = users_dataset.merge(ratings_dataset, on='UserID', how='inner') # parametro 'on' define la columna pivote
display(combined_dataset.sample(5))
len(combined_dataset)

       Gender  Age  Occupation Zip-code  MovieID  Rating  Timestamp
UserID
2579        M   35          15    91411      750       5  973891186
4758        F   56          13    03261     3555       1  963139183
855         F   18           2    72701     1225       4  975465901
2609        F   50          12    55391     1674       5  973725761
3727        M   35           7    74401     1242       4  966224153

1000209

In [13]:
combined_dataset.head(10)

       Gender  Age  Occupation Zip-code  MovieID  Rating  Timestamp
UserID
1           F    1          10    48067     1193       5  978300760
1           F    1          10    48067      661       3  978302109
1           F    1          10    48067      914       3  978301968
1           F    1          10    48067     3408       4  978300275
1           F    1          10    48067     2355       5  978824291
1           F    1          10    48067     1197       3  978302268
1           F    1          10    48067     1287       5  978302039
1           F    1          10    48067     2804       5  978300719
1           F    1          10    48067      594       4  978302268
1           F    1          10    48067      919       4  978301368

In [16]:
1::Toy Story (1995)::Animation|Children's|Comedy
2::Jumanji (1995)::Adventure|Children's|Fantasy

SyntaxError: unterminated string literal (detected at line 1) (768960313.py, line 1)

In [14]:
movies_dataset = pd.read_csv(os.path.join(root_path, "movies.dat"),sep='::', index_col=0, engine='python',names=['Movie_ID','Title','Genre'])
movies_dataset.sample(5)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 3114: invalid continuation byte

In [17]:
# combinando movies y el resto
all_dataset = combined_dataset.merge(movies_dataset,left_on='MovieID', right_on='Movie_ID', how='inner', left_index=True, right_index=True)
all_dataset.head(5)

NameError: name 'movies_dataset' is not defined

In [ ]:
all_dataset = combined_dataset.merge(movies_dataset,left_on='MovieID', right_on='Movie_ID', how='inner')
all_dataset.head(5)

In [ ]:
len(all_dataset)

### Concatenate
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

## Pivot
- Representar los datos en función a varios parámetros, agregando
```python
pivot_table(<lista de valores>, index=<agregador primario>, columns=<agregador secundario>)
```
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

In [ ]:
# all_dataset.pivot_table('Rating', index='Gender', columns='Age')
# all_dataset.pivot_table('Rating', index='Gender', columns='Age', aggfunc='count')
all_dataset.pivot_table('Rating', index='Gender', columns='Age', aggfunc=['count', 'mean'])

## Agrupaciones
- agg -> funciones estadísticas de agregación
- Series.unique() -> valores únicos
- pd.value_counts -> ocurrencias

## Manipulación de strings
```python
split(): separar en bloques en función de un carácter
replace(): reemplazar un carácter por otro
index(): encontrar la posición de un carácter
```

In [18]:
# Ejemplo con MovieLens: Genre
## 1: obtener todos los géneros por separado
## 2: crear un dataset de géneros
## 3: por película, marcar género por separado
## 4: unir con dataset original
movies_dataset.head(3)

NameError: name 'movies_dataset' is not defined

In [ ]:
movies_dataset.iloc[0]['Genre']

In [ ]:
len(movies_dataset)

In [ ]:
def separa(texto):
    return text.split('|')

In [ ]:
all_genres = movies_dataset['Genre'].apply(lambda x : x.split('|'))
print(all_genres)

# print([genre for x in all_genres for genre in x])

genres = pd.unique([genre for x in all_genres for genre in x])
print(genres)
print(len(genres))

In [ ]:
[genre for x in all_genres for genre in x]

In [ ]:
color,

In [ ]:
{azul, rojo, verde}        rojo | azul | verde
                            1      0       0
                            0      1       0   
                            0      1       1

In [ ]:
# crear tabla con columnas por género
zeros = np.zeros( (len(movies_dataset), len(genres)) )
genres_frame = pd.DataFrame(zeros, columns=genres)
genres_frame.head(3)

In [ ]:
for i, genre in enumerate(movies_dataset['Genre']):
    print(i, genre)

In [ ]:
columns_genres = genres_frame.columns # lista de generos (columnas)
# para cada película, marcar género con 1
for i, genre in enumerate(movies_dataset['Genre']):
    inds = columns_genres.get_indexer(genre.split('|')) # retorna los indices correspondientes a los generos de cada pelicula
    genres_frame.iloc[i,inds] = 1 # localiza las columnas del genero correspondiente, marca con 1

In [ ]:
genres_frame.head(5)

In [ ]:
# unir con dataset original
movies_split_genre = movies_dataset.join(genres_frame)

In [ ]:
display(movies_split_genre.head(5))

#### Replace e index para extraer el año de la película

In [ ]:
movies_dataset.head(2)

In [ ]:
def split_year(title):
    index = title.index('(')
    return title[index:].replace('(','').replace(')','')
    
# crear nueva columna Year
movies_dataset['Year'] = movies_dataset['Title'].apply(split_year)
display(movies_dataset.sample(30))

In [ ]:
# extraer el año de la columna Title
def split_year(title):
    index = title.index('(')
    return title[index:].replace('(','').replace(')','')
    
# crear nueva columna Year
movies_dataset['Year'] = movies_dataset['Title'].apply(split_year)
display(movies_dataset.sample(30))

In [ ]:
movies_dataset2 = movies_dataset.copy()
display(movies_dataset2)

In [ ]:
'Requiem for a Dream (2000)'[-6:].index('(')

In [ ]:
# eliminar el año de la columna Title
def remove_year(title):
    index = title.index('(')
    return title[:index-1].strip()

movies_dataset2['Title'] = movies_dataset2['Title'].apply(remove_year)
movies_dataset2.head(25)

#### Expresiones regulares
https://docs.python.org/3/library/re.html

- import re

In [ ]:
# ¿Cómo localizar que 'Zip-code' tiene un formato erróneo?
#users_dataset.sample(5)

# users_dataset['Zip-code'].str.match('^\d{5}$')

display(users_dataset[users_dataset['Zip-code'].str.match('^\d{5}$') == True])

# ^\d{5}$
# ^ = start of the string
# \d = decimal string
# {5} = 5 repeticiones de decimales
# $ = end of string

In [ ]:
# ¿Cómo extraer el año con regex en el formato adecuado?
movies_dataset = pd.read_csv(os.path.join(root_path, "movies.dat"),sep='::', engine='python',names=['MovieID','Title','Genre'])
display(movies_dataset.head(2))
#years = movies_dataset['Title'].str.extract('(\d{4})')
#movies_dataset['Year'] = years

movies_dataset['Year'] = movies_dataset['Title'].str.extract('(\d{4})')

movies_dataset.head(40)

# (\d{4})
# (= busca apertura parentesis
# \d = decimal string
# {4} = 4 repeticiones de decimales
# ) = cierre de parentesis

## Operaciones con colecciones
```python
reduce: aplicar una operación y retornar un valor
map: aplicar  una operación y retornar una secuencia
filter: retorna una secuencia con elementos que cumplen una condición
```


## Reduce
- Aplicar una operación matemática a cada uno de los elementos de una colección
- Diferente de 'apply()' porque retorna un valor numérico
- Ejemplo: Detección de géneros en años específicos

https://docs.python.org/3/library/functools.html

In [ ]:
from functools import reduce # necesario para reduce

lista = [1, 3, 5, 7, 9]
print(reduce(lambda x,y: x + y, lista))

In [ ]:
movies_split_genre.head()

In [ ]:
bool(1.0)

In [ ]:
movies_1975 = movies_split_genre[ movies_split_genre['Title'].str.contains('1975') ]
display(movies_1975)

In [ ]:
0 OR 0 = 0
0 OR 1 = 1
1 OR 0 = 1
1 OR 1 = 1

0 AND 0 = 0
0 AND 1 = 0
1 AND 0 = 0
1 AND 1 = 1

In [ ]:
any_drama = reduce(lambda x,y : bool(x) | bool(y),movies_1975['Drama']) # hay algún drama en 1975
print(any_drama)

all_comedy = reduce(lambda x,y : bool(x) & bool(y),movies_1975['Comedy']) # son todas las películas de 1975 comedias?
print(all_comedy)

In [ ]:
print(movies_1975['Drama'].any()) # Comprueba si hay algún valor que puede cumplir  
print(movies_1975['Comedy'].all()) # Comprueba si todos los valores son True

In [ ]:
# Observar el tipo de dato antes para ver si es posible aplicar las funciones
print(movies_1975.dtypes)
print(movies_1975['Comedy'].unique())

## Filter
- retorna una secuencia con elementos que cumplen una condición
- Ejemplo: obtener las películas de 1975 que contienen 'The' en el título

In [ ]:
'the' in 'The good doctor'.lower()

In [ ]:
filtro = filter(lambda x : 'The' in x, movies_1975['Title'])
list(filtro)
# ¿Están todos los títulos con "The"? si tiene mayúsculas o no...

In [ ]:
filtro = filter(lambda x : 'the' in x, movies_1975['Title'])
list(filtro)

In [ ]:
filtro = filter(lambda x : 'the' in x, movies_1975['Title'].str.lower())
list(filtro)

## Map
- aplicar  una operación y retornar una secuencia
- Cambiar el valor integral de la columna 'Comedy' por bool

In [ ]:
mapa = map(lambda x : bool(x), movies_1975['Comedy'])

#for item in mapa:
#    print(item)
movies_1975.loc[:,'Comedy'] = list(mapa)
movies_1975.head()

## Transformación de variables (calidad de datos)
- Valores no definidos
- Valores duplicados
- Discretización (valores categóricos)

In [ ]:
matrix = pd.DataFrame(np.random.randint(10,size=(5,10)))
#matrix[matrix < 2] = np.nan
matrix

In [ ]:
matrix[matrix < 2] = np.nan
matrix

In [ ]:
# nulos por columna
matrix.isnull().sum()
# matrix.isna().sum()

In [ ]:
# Cantidad valores nulos
matrix.isnull().sum().sum()

In [ ]:
# numero de no nulos por fila
matrix.count(axis=1)

In [ ]:
# Número de nulos por fila
matrix.shape[1] - matrix.count(axis=1)

In [ ]:
# Representación de las filas en las que una determinada columna tiene nulos
matrix[matrix[2].isnull()]

In [ ]:
# Conteo de valores que aparecen en el dataset
valores = [3, 7]
# Identificación de valores de dominio que se encuentran en un listado
matrix[matrix[6].isin(valores)]

In [ ]:
matrix

In [ ]:
## Tratamiento de valores nulos
# eliminar
matrix2 = matrix.dropna()
display(matrix2)

In [ ]:
# eliminar si no hay un número de valores no NaN
matrix3 = matrix.dropna(thresh=2)
display(matrix3)

In [ ]:
# sustituir por un valor fijo
matrix.fillna(-1)

In [ ]:
matrix

In [ ]:
# sustituir por valor dinámico (copia)
print(matrix)
matrix4 = matrix.fillna(method='bfill') # bfill: valor siguiente fila y ffill
matrix4

In [ ]:
# sustituir por valor dinámico (copia)
print(matrix)
matrix5 = matrix.fillna(method='ffill') # bfill: valor siguiente fila/columna y ffill: anterior fila/columna
matrix5

In [ ]:
# sustituir por valor dinámico (interpolación)
print(matrix)
matrix.interpolate()

#### Tratar valores duplicados

In [3]:
serie = pd.Series(['a','b','c','a','c','a','g'])
serie.duplicated()

0    False
1    False
2    False
3     True
4     True
5     True
6    False
dtype: bool

In [2]:
import pandas as pd

In [ ]:
df = all_dataset
display(df)
# eliminar
# Eliminación de los duplicados en una columna definida
df2 = df.drop_duplicates(subset="Gender", keep='last', inplace=False)
display(df2)

#### Discretización (valores categóricos)
- Tras Series y DataFrame, objeto para categorías: Categorical
```python
categorias = pd.cut(<valores>, <bins>) 
```

In [4]:
# especificar los bloques
bins = [0,18,35,65,99]
edades = [16,25,18,71,44,100,12]
categorias = pd.cut(edades,bins)
print(categorias)

[(0.0, 18.0], (18.0, 35.0], (0.0, 18.0], (65.0, 99.0], (35.0, 65.0], NaN, (0.0, 18.0]]
Categories (4, interval[int64, right]): [(0, 18] < (18, 35] < (35, 65] < (65, 99]]

In [ ]:
categorias.value_counts()

In [ ]:
# especificar el número de bloques
bins = 5
edades = [0,6,8,16,25,18,71,44,100]
categorias = pd.cut(edades,bins) # rangos idénticos (similar distancia de rangos)
print(categorias)
print(categorias.value_counts())

In [ ]:
bins = 3
edades = [1,6,8,16,25,18,71,44,100]
categorias = pd.qcut(edades,bins) # rangos homogéneos (similar número de valores)
print(categorias)
print(categorias.value_counts())